@font-face {
  font-family: Ortica-Bold;
  src: url(images/Ortica-Bold.woff);
}


body{
    background-color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: 1px dashed #000;
    margin: 20px;
    padding: 20px;
    font-family: Ortica-Bold;
    font-size: 4.5rem;
    overflow: hidden;
}

p{
  font-size: 1.2rem;
  margin: 2rem;
  color: white;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 10px 10px  black;
  z-index: -1;
}

  h1 {
      font-weight: bold;
  }

  h2{
    z-index: 30000;
    margin: 0;
    /* font-style: italic; */
    text-decoration: underline;
    color: black;
  }

  #circle {
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    z-index: 500000000;
    border: .5px solid black;
    box-shadow: 1px 1px 6px rgba(0,0,0,.7);
      /* offset-x | offset-y | blur-radius | spread-radius | color */
    position: absolute;
    top: 13px;
    right: 23px;
    font-size: 18px;
  }
  #circle:hover {
    background: #FFFFFF;
  }

  #modal{
    width: 30vw;
    height: 40vh;
    background: blue;
    z-index: 4000;
    border: .5px solid black;
    box-shadow: 1px 1px 6px rgba(0,0,0,.7);
    position: absolute;
    top: 4.5vw;
    right: 4.5vw;
    border-radius: 0;
}

  #ladder{
    width: 10vw;
    height: 100vh;
    /* z-index: 5000; */
    background-image: url("images/ladderRungBlack.gif");
    background-repeat: repeat-y;
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 10vw;
  }

  #guy{
    position: absolute;
    top: 76vh;
    right: 0vw;
    z-index: 3000;
    animation: up 30s linear infinite alternate;
    
  }

  @keyframes up{
    0%{top: 76vh;}
    100%{top: -40vh;}
  }

  #guy img{
    width: 30vw;
    height: 32vw;
  }


  video{
    position: absolute;
    top: 0;
    left: -8vw;
    z-index: -5;
    width: 120vw;
    height: 120vh;
    box-shadow: 1px 1px 400px black inset;
  }


  #castle{
    background-image: url('images/jillsCastlebNW1.png');
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    /* mix-blend-mode: difference; */
    
    opacity: 0.3;
    z-index: -2;
  }

  #vin{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    z-index: -2;
    box-shadow: 1px 1px 50px black inset;
  }