body{
    background-color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: 1px dashed #000;
    margin: 20px;
    padding: 20px;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 10px 10px  black;
  z-index: -1;
}

  h1 {
      font-weight: bold;
  }

  #circle {
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    z-index: 500000000;
    border: .5px solid black;
    box-shadow: 1px 1px 6px rgba(0,0,0,.7);
      /* offset-x | offset-y | blur-radius | spread-radius | color */
    position: absolute;
    top: 13px;
    right: 23px;
    font-size: 18px;
  }
  #circle:hover {
    background: #FFFFFF;
  }

  #ladder{
    width: 15vw;
    height: 100vh;
    /* z-index: 5000; */
    background-image: url("images/ladderRungBlack.gif");
    background-repeat: repeat-y;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 10vw;
  }

  #guy{

    position: absolute;
    top: 76vh;
    left: -1vw;
    z-index: 3000;
    animation: up 30s linear infinite alternate;
    
  }

  @keyframes up{
    0%{top: 76vh;}
    100%{top: -40vh;}
  }

  #guy img{
    width: 30vw;
    height: 32vw;
  }